include *.sh
include *.txt
include *.rst
include *.py
include .travis.yml
include pytest.ini
recursive-include docs LICENSE
recursive-include docs README
recursive-include docs *.conf
recursive-include docs *.css_t
recursive-include docs *.html
recursive-include docs *.ico
recursive-include docs *.inc
recursive-include docs *.ipynb
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.sh
recursive-include docs *.tiff
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include src *.py
recursive-include src *.pem
recursive-include tests *.au
recursive-include tests *.gif
recursive-include tests *.py
recursive-include tests *.txt

