name: CI

on:
  pull_request:
  push:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        versions:
          - python: "2.6"
          - python: "2.7"
          - python: "3.3"
          - python: "3.4"
          - python: "3.5"
          - python: "3.6"
          - python: "3.7"
          - python: "3.8"
          - python: "3.9"

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - if: ${{ matrix.versions.python != '2.6' }}
        run: |
          docker build \
          . \
          --build-arg PYTHON_VERSION=${{ matrix.versions.python }} \
          -t jmadler/python-future-builder:${{ matrix.versions.python }}
      - if: ${{ matrix.versions.python == '2.6' }}
        run: |
          docker build \
          . \
          -f 2.6.Dockerfile \
          -t jmadler/python-future-builder:${{ matrix.versions.python }}
      - run: |
          docker run \
          -e PYTHON_VERSION=${{ matrix.versions.python }} \
          jmadler/python-future-builder:${{ matrix.versions.python }} \
          /root/python-future/test.sh
